:root {
    --color-100: #F9F5EB;
    --color-200: #EAE3D2;
    --color-300: #bbcce6;
    --color-400: #607EAA;
    --color-500: #1C3879;

    --ff : 'Lato', sans-serif;
    --fw-300 : 300;
    --fw-400 : 400;
    --fw-500 : 700;
    --fw-600 : 900;
}

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
    font-family: var(--ff);
    font-weight: var(--fw-400);
    font-size: 1rem;
    text-align: center;
}
body {
    width: 100vw;
    background: var(--color-100);
}
h1, h2, h3 {
    color: var(--color-500);
    font-weight: var(--fw-500);
    line-height: 2.5rem;
}
h1 {
    font-size: 2.8rem;
    height: 10%;
}
h1 > span {
    font-size: 3rem;
}
h2 {
    font-size: clamp(1.8rem, 5vw, 2rem);
} 
h2 > span {
    font-size: 2rem;
}
h3 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    text-transform: uppercase;
}
span {
    color: var(--color-400);
    font-weight: var(--fw-600);
}
button {
    text-transform: uppercase;
    border: none;
    letter-spacing: .1rem;
    font-weight: var(--fw-600);
    cursor: pointer;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
}
button:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

/* HEADER */
header {
    height: 100vh;
    width: 100%;
    padding: 1rem;
    background: var(--color-200);
    position: absolute;
    z-index: 1;
    -webkit-transition: .6s ease-in;
    -o-transition: .6s ease-in;
    transition: .6s ease-in;

}
.header-up {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
}
.header__container {
    margin: 0 auto;
    height: 100%;
    gap: clamp(.5rem, 2vh, 1.5rem);
    line-height: 1.325rem;
}
.name-container > * {
    margin: 5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
input {
    margin: 5px auto 0 auto;
    height: 40px;
    width: 90%;
    max-width: 300px;
    background-color: var(--color-200);
    border: 2px solid var(--color-400);
    border-radius: 5px;
}
input:focus, input:active {
    outline: none;
    border: 2px solid var(--color-500);
}
.play {
    width: 150px;
    padding: .8rem;
    margin: 0 auto;
    color: var(--color-300);
    background-color:var(--color-500);
    font: 1rem;
    border-radius: 5px;
}
.play:hover, .play:active {
    color: var(--color-500);
    background-color: var(--color-300);
}

/* MAIN */
main {
    height: 100vh;
    padding: 2rem 1rem;
}

/* GAME CONTAINER */
#game-container {
    height: 45%;
}
#game-container::after {
    content: "";
    position: relative;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: var(--color-500);
    width: 60%;
    height: 1px;
}
#dice-container > i {
    color: var(--color-500);
    font-size: 6rem;
}

.action-button {
    margin: 0 auto;
    font-size: 1.4rem;
    color: var(--color-400);
    background-color: transparent;
}
.action-button > i {
    color: var(--color-500);
    padding-right: .8rem;
    font-size: 1.3rem;
}
#roll {
    -webkit-animation: click 3s linear infinite;
            animation: click 3s linear infinite;
}
@-webkit-keyframes click {
    20% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    25% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    30%{
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    35%{
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    40%{
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@keyframes click {
    20% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    25% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    30%{
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    35%{
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    40%{
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
.fa-question {
    opacity: 0;
    padding-left: .2rem;
    padding-right: 0;
    -webkit-animation: question 3.5s linear infinite;
            animation: question 3.5s linear infinite;
}

@-webkit-keyframes question {
    20%{
        opacity: 0;
    }
    25% {
        opacity: 1;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    30% {
        -webkit-transform: rotate(25deg);
                transform: rotate(25deg);
    }
    35%{
        -webkit-transform: rotate(-25deg);
                transform: rotate(-25deg);
    }
    40% {
        -webkit-transform: rotate(25deg);
                transform: rotate(25deg);
    }
    45%{
        -webkit-transform: rotate(-25deg);
                transform: rotate(-25deg);
    }
    50%{
        -webkit-transform: rotate(0);
                transform: rotate(0);
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
}

@keyframes question {
    20%{
        opacity: 0;
    }
    25% {
        opacity: 1;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    30% {
        -webkit-transform: rotate(25deg);
                transform: rotate(25deg);
    }
    35%{
        -webkit-transform: rotate(-25deg);
                transform: rotate(-25deg);
    }
    40% {
        -webkit-transform: rotate(25deg);
                transform: rotate(25deg);
    }
    45%{
        -webkit-transform: rotate(-25deg);
                transform: rotate(-25deg);
    }
    50%{
        -webkit-transform: rotate(0);
                transform: rotate(0);
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
}
#dice-container {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.dice-animate {
    -webkit-animation: spin .6s ease-in-out;
            animation: spin .6s ease-in-out;
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(-360deg) rotateX(-360deg);
                transform: rotate(-360deg) rotateX(-360deg);
    }
}
@keyframes spin {
    from {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(-360deg) rotateX(-360deg);
                transform: rotate(-360deg) rotateX(-360deg);
    }
}
.dice-one {
    -webkit-animation: leftRight .2s linear;
            animation: leftRight .2s linear;
}
@-webkit-keyframes leftRight {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    33% {
        -webkit-transform: translateX(15px);
                transform: translateX(15px);
    }
    66% {
        -webkit-transform: translateX(-15px);
                transform: translateX(-15px);
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
@keyframes leftRight {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    33% {
        -webkit-transform: translateX(15px);
                transform: translateX(15px);
    }
    66% {
        -webkit-transform: translateX(-15px);
                transform: translateX(-15px);
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
/* PLAYER CONTAINER */

.player-container{
    padding: 1rem 0;
    height: 45%;
    position: relative;
}
.global {
    color: var(--color-400);
    font-size: clamp(3rem, 13vw, 5rem);
}
.global-container {
    background-color: var(--color-100);
}
.score-container {
    width: clamp(100px, 30vw, 150px);
    margin: 0 auto;
    padding: .5rem;
    background: var(--color-500);
    color: var(--color-100);
}
.score {
    margin-top: .5rem;
    font-size: 2rem;
}
.fa-arrow-up-long {
    visibility: hidden;
    position: absolute;
    font-size: 3rem;
    color: var(--color-500);
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
}
.arrow-animate {
    animation: arrowHold .5s ease-in;
}
@keyframes arrowHold {
    to {
        transform: translate(-50%,-40vh);
    }
}
#player1-container::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background-color: var(--color-500);
    width: 1px;
    height: 80%;
}
#player2-container {
    opacity: .2;
}
#tour-p2{
    visibility: hidden;
}
/* FOOTER */
footer {
    visibility: hidden;
    margin: 0 auto;
    color: #1C3879;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    z-index: 1;
    overflow: visible;
}
.winner-screen{
    width: clamp(250px, 50vw, 300px);
    height: 130px;
    background-color: var(--color-300);
    border-radius: 15px;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: .4s ease-out;
    -o-transition: .4s ease-out;
    transition: .4s ease-out;
}
.active-winner-screen {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}
.winner-screen > p > span {
    font-size: 1.4rem;
}
.winner-screen > * {
    font-size: 1.2rem;
}
footer .play-again {
    margin: 1rem 0;
}
.particle1, .particle2 {
    opacity: 0;
    position: absolute;
    -webkit-animation: confetti 2s ease-out;
            animation: confetti 2s ease-out;
}
.particle1 {
    background-color: var(--color-500);
}
.particle2 {
    background-color: var(--color-400);
}
@-webkit-keyframes confetti {
    0% {
       opacity:0;
    }
    5%{
        opacity: 1;
    }
    100% {
       opacity:0;
       -webkit-transform:translateY(1000px) rotate(1440deg);
               transform:translateY(1000px) rotate(1440deg);
    }
 }
@keyframes confetti {
    0% {
       opacity:0;
    }
    5%{
        opacity: 1;
    }
    100% {
       opacity:0;
       -webkit-transform:translateY(1000px) rotate(1440deg);
               transform:translateY(1000px) rotate(1440deg);
    }
 }

@media screen and (min-width: 768px){
    main {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .fa-arrow-up-long {
       visibility: visible; 
    }
    #game-container {
        height: 90%;
    }
    #game-container::after {
        height: 0px;
    }
    .action-button {
        margin: 1.2rem auto;
    }
    .player-container{
        height: 80%;
    }
    #player1-container::after {
        width:0px;
    }
    .global {
        margin-top: 100px;
    }
}